<h1>Edit Employee</h1>

<% if (errors !=undefined) { %>
    <ul>
        <% errors.forEach((error)=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>

        <form action="/edit/:eid" method="POST">
            <label>EID</label>
            <input type="text" name="eid" required value="<%=editEmployee.eid %>" readonly>
            <br /><br />

            <label>Name</label>
            <input type="text" name="ename" required value="<%=editEmployee.ename %>" minlength="5">
            <br /><br />

            <label>Role</label>
            <input type="text" name="role" required value="<%=editEmployee.role %>">
            <br /><br />

            <label>Salary</label>
            <input type="text" name="salary" min="1" max="1000000" required value="<%=editEmployee.salary %>">
            <br /><br />

            <button type="submit">Update</button>
        </form>


        <br /><br />
        <a href="/">Home</a>